<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <!--リストオブジェクトの表示:%for%endforに囲まれた部分は繰り返す-->
        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <!--|linebreaksbr→改行を段落に変更してくれる-->
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}

    </body>
</html>